body {
  text-align: center;
}
/* this centered the text*/
nav {
  background-color: steelblue;
  padding: 10px;
}
/* this out the blue box around the navigation on top, with a 10px buffer */
a {
  color: white;
  margin: 40px;
}
/* this spaced out the nav points and gave them a font color */
h1 {
  color: steelblue;
}
img {
  width: 200px;
  border: 4px solid steelblue;
}
p {
  padding: 10px;
}
footer {
  background-color: steelblue;
  color: white;
}

.flintlock-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.jousting-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.main-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  border: none; 
}

.flintlock-card, .main-card, .jousting-card {
  position: relative;
}

.flintlock-card a,
.main-card a,
.jousting-card a  {
  position: relative;
  display: block;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  pointer-events: none; 
}

.flintlock-card:hover .overlay,
.main-card:hover .overlay,
.jousting-card:hover .overlay {
  opacity: 0.95; 
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  width: 90%; 
  padding: 0 20px;
}