@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Slab:wght@100..900&display=swap');

/*classes have a ., IDs have a # */

:root{
    --heading-font: "DM Serif Text";
    --paragraph-font: "Roboto Slab", Helvetica, sans-serif;
}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* images */

.logo {
    width: 250px;
    height: auto;
    position: relative;
    z-index: 10;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img{
    width: 100%;
    border: 10px solid #fffde8;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #0a3653;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #0a3653;
}

main section img{
    box-sizing:border-box;
}


nav a {
    text-align: center;
    color : #0a3653;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color : #0a3653;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin-top: 100px;
}

#hero-msg h4 {
    color: #fffde8;
}

#hero-msg h1 {
    color: #fffde8;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    /* z-index: -1;
    I actually liked having the box overlap, with the icon sticking out. */
}

#hero-img{
    width: 100%;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.button-box {
    text-align: center;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.home-title {
    color : #0a3653;
    font-family: "Roboto Slab", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

main section  {
    text-align: center;
}

body {
    background-color: #fffde8;
    font-family: "Roboto Slab", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #91d6e5;
    display: grid;
    grid-template-columns: 150px auto;
}

h4 {
    color : #0a3653;
}

nav a:hover {
    background-color: #91d6e5;
}

.book {
    background-color: #fffde8;
    color : #0a3653;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
}

.book:hover {
    background-color: #fffde8;
    color : #0a3653;
}

.join {
    background-color: #fffde8;
    color : #0a3653;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
}

.join:hover {
    background-color: #fffde8;
    color : #0a3653;
}

#background {
    background-color: #fffde8;
}

.msg {
    background-color: #fffde8;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #0a3653;
}

.msg h2 {
    color : #0a3653;
}

.msg p{
    color : #0a3653;
    padding-bottom: 15px;
}

footer {
    background-color: #ff9417;
    color : #0a3653;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a:hover {
    color : #0a3653;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
    padding: 25px 50px;
}

footer p a:hover { 
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

#rates-img{
    width: 100%;
}

#rates-msg{
    text-align: center;
}

.rates-grid{
    color: #0a3653;
}

.rates-msg{
    color: #0a3653;
}

.pricing{
    color: #0a3653;
}

.raft-icon{
    float: left;
    width: 25%;
}

.prices{
    float: right;
    width: 70%;
}

.msg {
    background-color: #fffde8;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #0a3653;
}

.msg h2 {
    color : #0a3653;
}

.msg p{
    color : #0a3653;
    padding-bottom: 15px;
}



form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}