/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #6D6263   ;
  --secondary-color: #FF8F09 ;
  --accent1-color: #40FEF9;
  --accent2-color: #FDFFE3;

  /* change the values below to your chosen font(s) */
  --heading-font: "Felipa";
  --paragraph-font: "Red Hat Text", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #FF8F09;  /* headlines on a white background */ 
  --headline-color-on-color: #40FEF9; /* headlines on a colored background */ 
  --paragraph-color-on-white: #6D6263; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FDFFE3; /* paragraph text on a colored background */ 
  --paragraph-background-color: #6D6263  ;
  --nav-link-color: #6D6263;
  --nav-background-color: #FF8F09;
  --nav-hover-link-color: #FDFFE3;
  --nav-hover-background-color: #6D6263;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: var(--accent2-color);
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

footer {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  gap: 20px;
  background-color: var(--paragraph-background-color);
}

footer p {
  margin: 0;
  padding: 0.5em;
  color: var(--paragraph-color-on-color);
}

footer a {
  color: var(--paragraph-color-on-color);
}

footer a:hover {
  color: var(--nav-hover-link-color);
}

footer .gif {
  display: flex;
  align-items: center;
}

footer .gif img {
  max-height: 80px;
  width: auto;
}



.music-grid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 3rem;
    width: 100%;
    padding: 2rem 0;
}

.music-pics {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 3rem;
    align-items: center;
}

#romero1, #orchestra {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

#romero1 {
    justify-self: end;
}

#orchestra {
    justify-self: start;
}

#horn {
    width: 100%;
    /* max-width: 250px; */
    height: auto;
    justify-self: center;
    border-radius: 8px;
}

.music-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
}

.music-content p {
    text-align: left;
    line-height: 1.8;
}

#romero2 {
    width: 100%;
    height: auto;
    border-radius: 8px;
}